body{
    margin: 0px;
    background-color: rgba(210,130,130,0.5);
}

.container{
    background-color: rgba(210,130,130,0.3);   
    height: 300px;
    width: 300px;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
    box-shadow: 0 0 4px 1px rgba(0,0,0,0.6);
    border-radius: 10px;

}